.banner {
  padding: 0px 20vw;
}

.banner-container {
  height: 90vh;
  display: grid;
  justify-content: center;
  align-content: center;
  gap: 20px;
}

.banner-title {
  display: flex;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 600;
}

.description {
  margin-top: 0;
  display: flex;
  justify-content: center;
}

.banner-btn {
  display: flex;
  justify-content: center;
}
