footer {
    margin-top: 10px;
    height: 1.9rem;
    padding: 0px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: 100;    
    background-color: rgb(99, 99, 99,0.5);
    color: white;
    font-size: 0.7rem;
}
.top-link {
    display: none;
}