.nav {
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: center;
}

.nav-container {
  width: 100vw;
  padding: 30px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box ;
  justify-self: center;
}

.fixed-nav {
  background: linear-gradient(rgb(0, 0, 0,0.4),rgba(0,0,0,0));
  z-index: 2;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  font-size: 1.5rem;
}

.logo h1 {
  font-size: 1.6rem;
  margin: 0px 10px
}

.menu-container {
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}


.menu {
  padding-top: 30px;
  display: grid;
  gap: 5px;
}

.menu li {
  height: 1.7rem;
  display: flex;
  align-items: center;
  padding-left: 38px;
}

.menu a {
  color: white;
  text-decoration: none;
  font-size: 1.15rem;
  text-transform: capitalize;
  will-change: transform;
  transition: 0.2s;
}

.menu a:hover {
  transform: scale(1.08);
}


.nav-toggle button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@media screen and (min-width: 800px){

  .nav-toggle {
    display: none;
  }

  .nav-container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    background: none !important;
  }

  .menu {
    display: flex;
    padding-top: 0px;

  }

  .menu li {
    align-items: flex-end;

  }

  .menu-container {
    height: auto !important;
  }
  
}