.section-container {
    margin-top: 5px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding-left: 50px;
height: calc(100vh);
}
.title {
    font-size: 3rem;
    font-weight: 200;
    text-transform: capitalize;
    color: white;
    margin-bottom: 20px;

}
.title + p {
    color: white;
    font-size: 1rem;
    font-weight: 200;
}

#about {
    background: no-repeat center / cover url("../img/waikiki-beach.jpg") rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

#services {
    background: no-repeat center / cover url("../img/dfcb60e0eafa064005d74a315bac5905.jpg") rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}

#tours {
    background: no-repeat center / cover url("../img/paddleboarding_Hawaii.jpg") rgba(0, 0, 0, 0.2);
    background-blend-mode: multiply;
}