.console {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  padding: 0px 20px 0px 36px;
  box-sizing: border-box;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: var(--bg-color);
}

.console-wrapper {
  width: 378px;
  display: grid;
  justify-content: stretch;
  align-items: center;
  align-content: center;
  gap: 5px;
}

.main-row {
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transform: translateY(10px);
  transition: transform 0.3s ease-out;
}
.main-input {
  position: relative;
  display: flex;
  align-items: center;
}

#text {
  outline: none;
  width: 275px;
  height: 35px;
  padding-right: 35px;
  padding-left: 20px;
  border-radius: 10px;
  border: none;
  background-color: var(--console-input-bgcolor);
  backdrop-filter: blur(3px);
  font-size: 1.05rem;
}

#text + button {
  position: absolute;
  right: 7px;
  font-size: 13px;
  color: var(--console-icon-color);
}

#submit {
  outline: none;
  appearance: none;
  border: none;
  height: 37px;
  width: 37px;
  border-radius: 10px;
  background-color: var(--console-input-bgcolor);
  backdrop-filter: blur(3px);
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  color: var(--console-icon-color);
}

.hidden-row {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 5px;
  color: var(--console-font-color);
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity 0.5s ease-in, transform 0.3s ease-out;
}

#category {
  outline: none;
  width: calc(245px - 170px);
  height: 23px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1px;
  border-radius: 8px;
  border: none;
  background-color: var(--console-input-bgcolor);
  backdrop-filter: blur(3px);
  color: var(--console-font-color);
  font-size: 0.87rem;
}

#title {
  outline: none;
  width: calc(170px);
  height: 23px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 1px;
  border-radius: 8px;
  border: none;
  background-color: var(--console-input-bgcolor);
  backdrop-filter: blur(3px);
  color: var(--console-font-color);
  font-size: 0.87rem;
}

#color {
  outline: none;
  appearance: none;
  border: none;
  background-color: transparent;
  height: 32px;
  width: 27px;
  margin-left: 8px;
}

#color::-webkit-color-swatch {
  border-radius: 8px;
}

.console-wrapper:focus-within .main-row {
  transform: translateY(0);
}

.console-wrapper:focus-within .hidden-row {
  transform: translateY(0);
  opacity: 1;
}

.console-wrapper input {
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

#text:focus,
#category:focus,
#title:focus {
  background-color: var(--console-input-activecolor);
  color: white;
}

#submit:hover,
#submit:focus {
  background-color: var(--signature-orange);
  color: white;
}
