.display {
  padding: 10px;
  padding-bottom: 80px;
  margin-top: 50px;
  /* margin-bottom: 700px; */
}

.list {
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
}

.category-container {
  display: grid;
  justify-content: stretch;
  align-items: center;
  color: white;
  margin-bottom: 6px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--signature-black);
  border-radius: 7px;
  font-size: 1.05rem;
  font-weight: 500;
  padding: var(--category-padding);
}

.category button {
  color: var(--console-icon-color);
  transition: 0.3s;
}

.category button:hover {
  color: white;
}

.item-container {
  display: grid;
  align-content: flex-start;
  padding-left: 18px;
  margin-top: 6px;
  overflow: hidden;
  height: 0;
  will-change: height;
  transition: 0.4s cubic-bezier(0.77, -0.2, 0.175, 1.2);
}

.item-wrapper {
  display: grid;
  justify-content: stretch;
  align-items: flex-start;
  gap: 3px;
}

.item {
  display: flex;
  flex-direction: column;
  padding: var(--item-padding);
  background-color: var(--item-color);
  color: black;
  border-radius: 7px;
}

.item-row1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.item-row2 {
  margin-top: 15px;
  font-size: 0.89rem;
  font-weight: 300;
  padding: 7px;
}

.item-title {
  text-transform: capitalize;
  border-bottom: 0.5px solid white;
  padding: 2px;
  padding-bottom: 5px;
}

.item button {
  color: var(--console-icon-color);
  transition: 0.3s;
}

.item button:hover {
  color: var(--signature-black);
}
