.display {
  padding: 10px;
  /* margin-bottom: 700px; */
}

.list {
  padding: 10px;
  display: grid;
  grid-auto-flow: row;
}

.category-container {
  display: grid;
  justify-content: stretch;
  align-items: center;
  color: white;
  margin-bottom: 6px;
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--console-input-activecolor);
  border-radius: 10px;
  padding: var(--category-padding);
}

.category button {
  color: rgb(216, 216, 216);
  transition: 0.3s;
}

.category button:hover {
  color: white;
}

.item-container {
  display: grid;
  padding-left: 15px;
  margin-top: 6px;
  overflow: hidden;
  height: 0;
  transition: 0.5s cubic-bezier(0.06, 0.74, 0.35, 1.015);
}

.item-wrapper {
  display: grid;
  justify-content: stretch;
  align-items: flex-start;
  gap: 3px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--item-padding);
  background-color: rgb(236, 236, 236);
  color: black;
  border-radius: 10px;
}

.item button {
  color: var(--console-icon-color);
  transition: 0.3s;
}

.item button:hover {
  color: black;
}
