@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url(reset.css);
@import url(list.css);
@import url(console.css);

:root {
  --category-padding: 15px 15px 10px 15px;
  --item-padding: 10px 15px 8px 15px;
  --bg-color: rgb(250, 250, 250);
  --console-font-color: rgb(88, 88, 88);
  --console-icon-color: rgb(173, 173, 173);
  --console-input-bgcolor: rgb(240, 240, 240);
  --console-input-activecolor: rgb(31, 31, 31);
  --signature-orange: rgb(255, 154, 107);

}

html {
  font-family: "Montserrat Alternates", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
}

.screen {
  width: 450px;
  height: 780px;
  background-color: var(--bg-color);
  overflow-y: scroll;
  padding-left: 16px;
  border-radius: 30px;
  position: relative;
  box-sizing: border-box;
}

.screen::-webkit-scrollbar {
  width: 16px;
  background-color: transparent;
  background-clip: padding-box;
}

.screen::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  background-clip: padding-box;
  border: solid 6px transparent;
  border-radius: 9px;
}

.screen::-webkit-scrollbar-track {
  background-color: transparent;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.btn {
  appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
}

input[type="text"] {
  font-family: "Montserrat Alternates", sans-serif;
}

span {
  display: flex;
  align-items: center;
}

/* .item {
  display: none;
} */

