@import url(reset.css);

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.color-container {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 15px);
  grid-template-rows: 100%;
  align-content: stretch;
  overflow: hidden;
}

.color-column {
  display: grid;
  justify-content: center;
  align-content: space-between;
  overflow: hidden;
}

.color-column button {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgb(101, 139, 131, 0.5);
  color: rgb(162, 163, 163);
  border: none;
  border-radius: 6px;
  width: 12px;
  height: 12px;
  position: relative;
}

.color-column i {
  display: none;
}

.color {
  width: 10px;
  max-height: calc(80vh - 52px);
  border-radius: 4px;
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 1px;
  transition: all 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.color-column button:first-child .color {
  transform: translateY(27px);
}

.color-column button:last-child .color {
  transform: translateY(0px);
}
