@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap");
@import url(reset.css);
@import url(contacts.css);
@import url(nav.css);
@import url(gallery.css);
@import url(side.css);

html {
  background-image: url(https://images.hdqwalls.com/wallpapers/city-futuristic-retro-8k-uz.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: "Dosis", sans-serif;
}

header {
  width: 100vw;
  transition: all 0.1s ease-out;
}

.side-show {
  transform: translateX(0);
}

.toggle-active {
  width: calc(100vw - 200px);
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  .contact-info-container {
    max-width: 960px;
  }
  .nav-container {
    max-width: 960px;
  }
}

@media screen and (min-width: 700px) and (max-width: 960px) {
  .contact-info-container {
    max-width: 700px;
  }
  .nav-container {
    max-width: 700px;
    flex-direction: column;
  }

  .nav-toggle {
    display: contents;
  }
  .nav-contents li:hover {
    transform: translateY(0px);
  }
}

@media screen and (max-width: 700px) {
  .contact-info-container {
    max-width: 350px;
  }

  .nav-container {
    max-width: 350px;
    flex-direction: column;
  }

  aside {
    width: 100vw;
    height: 100vh;
    transform: translateX(100vw);
  }

  .contact-info a {
    display: none;
  }

  .nav-toggle {
    display: contents;
  }

  .nav-contents li:hover {
    transform: translateY(0px);
  }

  .toggle-active {
    width: 100vw;
    opacity: 0;
  }
}
