@import url(reset.css);



.video-container {
  width: 100vw;
  height: 100vh;
  position: relative;

}
.video-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}
.video{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: 0;
}


.content-container{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 50px;
  justify-content: stretch;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.switch-container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.switch-box {
  display: flex;
  align-items: center;
}

.switch{
  height: 0;
  width: 0;
  visibility: hidden;
}

.label {
  display: flex;
  font-size: 0.9rem;
  position: relative;
  width: 100px;
  height: 31px;
  border-radius: 15.5px;
  background-color: rgba(0, 0, 0, 0.8);
  transition: 0.4s;
}
.label span:first-child {
  color: white;
  position:absolute;
  opacity: 1;
  top: 6px;
  right: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 0.3s;
}
.label span:nth-child(2) {
  position: absolute;
  top: 6px;
  left: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  opacity: 0;
  transition: 0.3s;

}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
  content: "";
  height: 25px;
  width: 25px;
  border-radius: 13.5px;
  background: rgb(255, 117, 117);
  color:white;
  font-size: 0.9rem;
  position: absolute;
  top: 3.1px;
  left: 3px;
  transition: left 0.2s ease-out, 0.3s;

}

.slider i:first-child {
margin-left: 1px;
  transition: 0.3s;
}

.slider i:last-child {
  display: none;
  opacity: 0;
  transition: 0.3s;

}

.switch:checked + .label {
  background-color: rgba(0, 0, 0, 0.3);

}

.switch:checked + .label .slider{
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.switch:checked + .label i:last-child{
  display: inline;
  opacity: 1;
}
.switch:checked + .label i:first-child{
  opacity: 0;
  display: none;
}

.switch:checked + .label span:first-child {
opacity: 0;
}

.switch:checked + .label span:nth-child(2) {
  opacity: 1;

}

.label:active .slider{
  width: 38px;
  background: rgb(255, 38, 38);

}

.label:active span:first-child {
  opacity: 0;
}

.switch:checked + .label:active span:nth-child(2) {
  opacity: 0;
}

.preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: grid;
  justify-content: center;
  align-content: center;
  background-color: white;
}

@keyframes hide{
  0% {
    opacity: 1;
    z-index: 10;
    display: grid;
  }
  50%{
    opacity: 0;
    z-index: 10;
    display: grid;
  }
  100%{
    opacity: 0;
    z-index: -1;
    display: none;
  }
}

.hide-preloader {
animation: hide 1s forwards;
}